MONGO_URI = 

CLIENT_URL = 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 


JWT_SECRET = 

JWT_EXPIRES_IN = 

NODE_ENV = 

DEFAULT_ADMIN_USERNAME = 
DEFAULT_ADMIN_NAME = 
DEFAULT_ADMIN_EMAIL = 
DEFAULT_ADMIN_PASSWORD = 

